body{
    background-image: url('https://s3-alpha-sig.figma.com/img/38d6/90a9/158b13fe583b4393fe0a367e98c5391f?Expires=1693180800&Signature=i7lSzkqSIp9-GVkBAmZfAAsYtr5MAeTuO3ROWLJLzzCusiNQv99X2ZOUUOGmwNh0Y~QGNlO6Xcz5ZC12I8HnO7aApJ6vA1hIwfpXwds0eZ8cPqJ08VZafLclzvqMX7Tm44Ilcrx2mrUelxrVCiUS9z3rLGfNodyp4DWX5~WfdrpT5La3iKshtO7YJ8ZZt-4GGWj9rxqCOSnlSyWBM9p4HH5XqFS2toU-HaI1rI4Q4tcfDZM~x3rDbCYDP5B07ZvoWSMbfqKz04rH4Q0OQaLK2qIrCjcw40yFKXtJrq9AABprnF-SBfIJKqy0gQRx~49yWvLtSNYWrx2DNwvkQow7nw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
}

img{
    max-width: 100%;
    height: auto;
}
a{
    display: inline-block;
    color: $secondary;   
}