.tags{
  li{
    margin-bottom: 8px;
    box-shadow: -4px 0 0 $secondary;
    &:hover{
      background: $secondary;
      box-shadow: -4px 0 0 $primary;
    }
  }
  
  a{
    font-size: 14px;

    &:hover{
      color: white;
    }
   
  }
}
// 電腦
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
 .tags{
  a{
    font-size: 16px;
  }
}
}