<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">

  </head>
  <body >
    <!-- 3 小時半 -->
    <!-- 1 小時 2分鐘 -->
    <!-- 1 小時 17分 -->
    <!-- 3 小時 2 頁完成 -->
    <!-- 2 小時 還差 開賣中的hover -->
    <%- include('./layout/header'); -%>
    <section class="container text-white text-center mt-lg-32 mt-3" > 
      <div class="banner">
        <h2 class="text-start fs-lg-60-sm-32 p-lg-5 px-40 py-3 banner-title mb-0">19 MAY <br class="d-lg-none">2023</h2>
        <h3 class="pt-lg-231 pt-194 fs-lg-24-sm-18 fw-bold pb-lg-3 pb-4 mb-0">隔牆有耳-沒有草東的派對</h3>
        <p class="pb-4 mb-0 d-none d-lg-block noto-sans">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
        <br>帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
      </div>
    </section>
   
    <section class="container  py-lg-5 py-32 category">
      <ul class="row row-cols-3 row-cols-lg-6 g-lg-4 g-2 list-unstyled mb-0">
        <li class="col">
            <a href="#" class=" h-100 link-secondary w-100 py-lg-35 py-20  border border-secondary border-2  text-center">
              <img src="../assets/images/music.png" alt="">
              <h3 class="mt-lg-12 mt-2 fs-lg-24-sm-16 mb-0  fw-bold">演出</h3>
            </a>
        </li>
        <li class="col ">
            <a href="#" class=" h-100 link-secondary w-100 py-lg-35 py-20  border border-secondary border-2  text-center">
              <img src="../assets/images/heart.png" alt="">
              <h3 class="mt-lg-12 mt-2 fs-lg-24-sm-16 mb-0  fw-bold">聯誼</h3>
            </a>
        </li>
        <li class="col ">
            <a href="#" class=" h-100 link-secondary w-100 py-lg-35 py-20  border border-secondary border-2  text-center">
              <img src="../assets/images/museum.png" alt="">
              <h3 class="mt-lg-12 mt-2 fs-lg-24-sm-16 mb-0  fw-bold">展覽</h3>
            </a>
        </li>
        <li class="col ">
            <a href="#" class=" h-100 link-secondary w-100 py-lg-35 py-20  border border-secondary border-2  text-center">
              <img src="../assets/images/cutlery.png" alt="">
              <h3 class="mt-lg-12 mt-2 fs-lg-24-sm-16 mb-0 fw-bold">美食</h3>
            </a>
        </li>
        <li class="col ">
            <a href="#" class=" h-100 link-secondary w-100 py-lg-35 py-20  border border-secondary border-2  text-center">
              <img src="../assets/images/snowed-mountains.png" alt="">
              <h3 class="mt-lg-12 mt-2 fs-lg-24-sm-16 mb-0  fw-bold">戶外</h3>
            </a>
        </li>
        <li class="col">
            <a href="#" class="link-primary d-flex align-items-center justify-content-center border border-secondary border-2 bg-secondary h-100">
              <h3 class="fs-lg-48-sm-24 mb-0 fw-bold">探索<br>更多</h3>
            </a>
        </li>
      </ul>
    </section>
  
    <section class="container ">
      <a href="events.html" class="py-lg-4 px-lg-32 py-3 px-12 border border-3 border-secondary d-flex align-items-center justify-content-between">
        <h2 class="fs-lg-64-sm-24 mb-0 ">RECENT</h2>
        <h3 class=" mb-0 fs-lg-32-sm-16 fw-bold">近期活動</h3>
      </a>

      <div class="row row-cols-1 row-cols-lg-3 g-4 mt-lg-2 mt-0 recent">
        <div class="col">
          <div class="card ">
            <div class="card-header border-bottom border-secondary border-3">
              <h3 class="mb-lg-12 mb-2 fs-lg-48-sm-32">19 MAY 2023</h3>
            </div>
            <div class="card-body ">
              <img class="py-lg-12 pt-3 pb-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true" alt="">
              <h4 class="mb-lg-12 mb-2 fw-bold fs-lg-24-sm-18">邪典電影派對——房間</h4>
              <p class="noto-sans">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            </div>
            <div class="card-footer fw-bold d-flex justify-content-between border-bottom border-2 border-top border-secondary py-lg-12 py-2">
              <a href="#" class="d-flex  align-items-center"><img src="../assets/images/sparkler.png" alt="" width="24" class="me-1">社群活動 </a>
              <a href="#" class="d-flex  align-items-center noto-sans">開賣中<i class="icofont-double-right ms-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <div class="card-header border-bottom border-secondary border-3">
              <h3 class="mb-lg-12 mb-2 fs-lg-48-sm-32">23 MAY 2023</h3>
            </div>
            <div class="card-body ">
              <img class="py-lg-12 pt-3 pb-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true" alt="">
              <h4 class="mb-lg-12 mb-2 fw-bold fs-lg-24-sm-18">怪舞俱樂部</h4>
              <p class="noto-sans">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
            </div>
            <div class="card-footer fw-bold d-flex justify-content-between border-bottom border-2 border-top border-secondary py-lg-12 py-2">
              <a href="#" class="d-flex  align-items-center"><img src="../assets/images/sparkler.png" alt="" width="24" class="me-1">演出 </a>
              <a href="#" class="d-flex  align-items-center noto-sans">檢視活動<i class="icofont-double-right ms-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <div class="card-header border-bottom border-secondary border-3">
              <h3 class="mb-lg-12 mb-2 fs-lg-48-sm-32">30 MAY 2023</h3>
            </div>
            <div class="card-body ">
              <img class="py-lg-12 pt-3 pb-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true" alt="">
              <h4 class="mb-lg-12 mb-2 fw-bold fs-lg-24-sm-18">哈利波特馬拉松</h4>
              <p class="noto-sans">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
            </div>
            <div class="card-footer fw-bold d-flex justify-content-between border-bottom border-2 border-top border-secondary py-lg-12 py-2">
              <a href="#" class="d-flex  align-items-center"><img src="../assets/images/sparkler.png" alt="" width="24" class="me-1">聯誼 </a>
              <a href="#" class="d-flex  align-items-center noto-sans">開賣中<i class="icofont-double-right ms-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <div class="card-header border-bottom border-secondary border-3">
              <h3 class="mb-lg-12 mb-2 fs-lg-48-sm-32">12 June 2023</h3>
            </div>
            <div class="card-body ">
              <img class="py-lg-12 pt-3 pb-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/04.jpg?raw=true" alt="">
              <h4 class="mb-lg-12 mb-2 fw-bold fs-lg-24-sm-18">皮卡丘排球大賽</h4>
              <p class="noto-sans">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
            </div>
            <div class="card-footer fw-bold d-flex justify-content-between border-bottom border-2 border-top border-secondary py-lg-12 py-2">
              <a href="#" class="d-flex  align-items-center"><img src="../assets/images/sparkler.png" alt="" width="24" class="me-1">遊戲競賽 </a>
              <a href="#" class="d-flex  align-items-center noto-sans">開賣中<i class="icofont-double-right ms-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <div class="card-header border-bottom border-secondary border-3">
              <h3 class="mb-lg-12 mb-2 fs-lg-48-sm-32">25 June 2023</h3>
            </div>
            <div class="card-body ">
              <img class="py-lg-12 pt-3 pb-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/05.jpg?raw=true" alt="">
              <h4 class="mb-lg-12 mb-2 fw-bold fs-lg-24-sm-18">酒精路跑</h4>
              <p class="noto-sans">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
              </p>
            </div>
            <div class="card-footer fw-bold d-flex justify-content-between border-bottom border-2 border-top border-secondary py-lg-12 py-2">
              <a href="#" class="d-flex  align-items-center"><img src="../assets/images/sparkler.png" alt="" width="24" class="me-1">社群活動 </a>
              <a href="#" class="d-flex  align-items-center noto-sans">開賣中<i class="icofont-double-right ms-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <div class="card-header border-bottom border-secondary border-3">
              <h3 class="mb-lg-12 mb-2 fs-lg-48-sm-32">9 July 2023</h3>
            </div>
            <div class="card-body ">
              <img class="py-lg-12 pt-3 pb-2" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/06.jpg?raw=true" alt="">
              <h4 class="mb-lg-12 mb-2 fw-bold fs-lg-24-sm-18">展覽——我的房間</h4>
              <p class="noto-sans">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
            </div>
            <div class="card-footer fw-bold d-flex justify-content-between border-bottom border-2 border-top border-secondary py-lg-12 py-2">
              <a href="#" class="d-flex  align-items-center"><img src="../assets/images/sparkler.png" alt="" width="24" class="me-1">展覽 </a>
              <a href="#" class="d-flex  align-items-center noto-sans">開賣中<i class="icofont-double-right ms-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container mt-lg-60 mt-32">
      <a href="events.html" class="py-lg-4 px-lg-32 py-3 px-12 border border-3 border-secondary d-flex align-items-center justify-content-between ">
        <h2 class="fs-lg-64-sm-24 mb-0 ">ONLINE</h2>
        <h3 class=" mb-0 fs-lg-32-sm-16 fw-bold">線上活動</h3>
      </a>
      <div class="row mt-lg-32 mt-4 gx-lg-4 gy-3 online noto-serif">
        <div class="col-lg-7">
          <img  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/online.jpg?raw=true" alt="" class="w-100">
        </div>
        <div class="col-lg-5 d-flex flex-column">
          <h3 class="fs-lg-32-sm-18 mb-lg-3 mb-2 fw-bold">切特居批踢</h3>
          <ul class=" list-unstyled mb-lg-32 mb-12 tags">
            <li class="border border-secondary d-inline-block me-2"><a href="#" class="ps-lg-20 pe-lg-4 ps-12 pe-3 py-1 fw-bold ">競賽</a></li>
            <li class="border border-secondary d-inline-block me-2"><a href="#" class="ps-lg-20 pe-lg-4 ps-12 pe-3 py-1 fw-bold ">科技</a></li>
            <li class="border border-secondary d-inline-block me-2"><a href="#" class="ps-lg-20 pe-lg-4 ps-12 pe-3 py-1 fw-bold ">有趣</a></li>
          </ul>
          <p class="mb-12 noto-sans">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br>
            這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>
            該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
            <button type="button" class="btn btn-secondary fs-lg-20-sm-16 py-2 mt-auto noto-sans">查看活動詳情<i class="icofont-double-right ms-1"></i></button>

        </div>
      </div>
    </section>

    <div class="carousel slide bg-secondary mt-lg-60 mt-32 fw-bold noto-serif" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item text-primary active fs-lg-32-sm-16 py-lg-4 py-3 text-center text-nowrap" data-bs-interval="2000">
          活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
        </div>
        <div class="carousel-item text-primary  fs-lg-32-sm-16 py-lg-4 py-3 text-center text-nowrap" data-bs-interval="2000">
          活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
        </div>
      </div>
    </div>

    <section class="container py-lg-60 py-5 events px-lg-0 px-43">
      <ul class="row row-cols-lg-4 row-cols-1 gx-lg-4 gy-5 list-unstyled mb-0 fw-bold">
        <li class="col position-relative ">
          <div class="border border-2 border-secondary ">
            <span class="noto-sans px-3 py-2 bg-white d-inline-block rotate-4deg position-absolute start-50 ">社群活動</span>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/01.jpg?raw=true" class="p-lg-3 p-12" alt="">
            <h3 class="fs-18 ms-3 mb-lg-5 mb-32 fw-bold">無聲派對-閉閉嘴dancing</h3>
          </div>
        </li>
        <li class="col position-relative " style="transform: rotate(2deg);
        ">
          <div class="border border-2 border-secondary ">
            <span class="noto-sans px-3 py-2 bg-white d-inline-block rotate-4deg position-absolute start-50 ">藝文活動</span>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/02.jpg?raw=true" class="p-lg-3 p-12" alt="">
            <h3 class="fs-18 ms-3 mb-lg-5 mb-32 fw-bold">拯救老店大作戰</h3>
          </div>
        </li>
        <li class="col position-relative " style="transform: rotate(-2deg);
        ">
          <div class="border border-2 border-secondary ">
            <span class="noto-sans px-3 py-2 bg-white d-inline-block rotate-4deg position-absolute start-50 ">自我覺察</span>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/03.jpg?raw=true" class="p-lg-3 p-12" alt="">
            <h3 class="fs-18 ms-3 mb-lg-5 mb-32 fw-bold">內觀修行-部落篇</h3>
          </div>
        </li>
        <li class="col position-relative " style="transform: rotate(2deg);
        ">
          <div class="border border-2 border-secondary ">
            <span class="noto-sans px-3 py-2 bg-white d-inline-block rotate-4deg position-absolute start-50 ">聯誼活動</span>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/04.jpg?raw=true" class="p-lg-3 p-12" alt="">
            <h3 class="fs-18 ms-3 mb-lg-5 mb-32 fw-bold">賞櫻野餐</h3>
          </div>
        </li>
      </ul>
    </section>

    <div class="carousel slide bg-secondary fw-bold noto-serif" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item text-primary active fs-lg-32-sm-16 py-lg-4 py-3 text-center  text-nowrap" data-bs-interval="2000">
          活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
        </div>
        <div class="carousel-item text-primary  fs-lg-32-sm-16 py-lg-4 py-3 text-center  text-nowrap" data-bs-interval="2000">
          活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
        </div>
      </div>
    </div>

    <section class="container noto-serif py-lg-60 pb-5 pt-32">
      <div class="row gy-4 gx-0">
        <div class="col">
          <div class="card border border-2 border-secondary h-100">
            <div class="card-header py-lg-3 px-lg-32 px-12 py-3 border-bottom border-2 border-secondary">
              <h2 class="mb-0 fw-bold fs-lg-32-sm-24">#FOLLOW US</h2>
            </div>
            <div class="card-body p-lg-32 px-12 py-3">
              <p class="mb-lg-32 noto-sans">想第一時間獲得新奇有趣的活動資訊？<br>
                追蹤我們的社群吧！<br>
                也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                <ul class="list-unstyled mb-0 noto-sans">
                  <li class="mb-3"><a href="mailto:7tao.event@gmail.com"><i class="icofont-ui-email text-white bg-secondary p-2 me-3"></i>7tao.event@gmail.com</a></li>
                  <li class="mb-3"><a href="tel:09123123123"><i class="icofont-phone text-white bg-secondary p-2 me-3"></i>09123123123</a></li>
                  <li><a href="#"><i class="icofont-facebook text-white bg-secondary p-2 me-3"></i>7TAO七逃</a></li>
                </ul>
            </div>
          </div>
          
        </div>
        <div class="col subscribe">
          <div class="card border-2 border-secondary h-100">
            <div class="card-header py-lg-3 px-lg-32 py-3 px-12 border-bottom border-2 border-secondary">
              <h2 class="mb-0 fw-bold fs-lg-32-sm-24">#SUBSCRIBE US</h2>
            </div>
            <div class="card-body p-lg-32 py-3 px-12">
              <p class="mb-lg-32 noto-sans">訂閱電子報送折價券！<br>
                定期精選文章資訊及最新優惠資訊，<br>
                還不通通給我訂閱起來？</p>
              <input type="text" placeholder="輸入Email" class="noto-sans w-100 py-3 px-4 border border-2 border-secondary bg-transparent ">

            </div>
            <button type="button" class="btn btn-secondary  fs-lg-20-sm-16 py-2 noto-sans">確認訂閱<i class="icofont-double-right ms-1"></i></button>
          </div>
          
        </div>
      </div>
    </section>
    <section class="container-fluid text-center py-lg-60 py-5 border-top  border-3 border-secondary ">
      <h2 class="mb-lg-3 mb-12 fw-bold fs-lg-32-sm-18">此刻打盹，你將做夢；此刻學習，你將圓夢</h2>
      <p class="mb-0 fs-lg-18-sm-14 fw-bold ">——我也不知道誰說的</p>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
